[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev	=	"python manage.py runserver 0.0.0.0:3301"
mig =	"python manage.py migrate"
app	=	"python manage.py startapp"
make = "python manage.py makemigrations"
createsu = "python manage.py createsuperuser"

[packages]
pillow = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
requests = "*"
python-dateutil = "*"
psycopg = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
